name: main

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile
      - run: yarn -s test:unit # todo system tests on ci

  publish:
    # needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - run: yarn --frozen-lockfile
      # - uses: mxschmitt/action-tmate@v1
      - run: yarn -s dripip preview-or-pr --dry-run
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
